<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADz0zUC8Nq2xVpLuhUSS_PpqqOT-XHotY</string>
	<key>GCM_SENDER_ID</key>
	<string>691667417290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goldeneggProfit</string>
	<key>PROJECT_ID</key>
	<string>firedummy-ba0db</string>
	<key>STORAGE_BUCKET</key>
	<string>firedummy-ba0db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691667417290:ios:6a5f57e91e5f5ec5ba1c33</string>
</dict>
</plist>